<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('dashboard.index') }}">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('kategori.index') }}">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Kategori Penyakit</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('dataset.index') }}">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dataset</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('glcm.index') }}">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dataset</span>
      </a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="{{ url_for('split.index') }}">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Split Data Ekstraksi</span>
      </a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="{{ url_for('lda.index') }}">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">LDA</span>
      </a>
    </li>
  </ul>
</nav>
